@use './../../styles/functions' as func;

.button {
  border: func.rem-calc(1) solid rgba(255, 255, 255, 0.295743);
  border-radius: func.rem-calc(6);
  cursor: pointer;

font-family: 'Epilogue';
font-style: normal;
font-weight: 900;
font-size: func.rem-calc(14);
// line-height: func.rem-calc(14);
text-align: center;
text-transform: uppercase;

background: transparent;
color: var(--text-light);


}