@use './../../styles/functions' as func;

#hero {
  display: flex;
  background-color: var(--background-color-header);
  padding: 0 func.rem-calc(135);

  .left-column {
    width: 51%;
    display: flex;
    flex-direction: column;
    gap: func.rem-calc(24);

    .h5 {
      padding-top: func.rem-calc(110);
    }

    .p {
      max-width: func.rem-calc(440);
      padding-bottom: func.rem-calc(10);
    }

    .button-container {
      display: flex;
      gap: func.rem-calc(15);
      padding-bottom: func.rem-calc(85);
    }

    .button {
      width: func.rem-calc(154);
      height: func.rem-calc(48);
      border: transparent;
    }

    .button:first-child {

      background: var(--text-light-accent);
    }

    .button:last-child {
      text-transform: none;

      /* Text */
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 400;
      font-size: func.rem-calc(16);
      line-height: func.rem-calc(32);
      /* identical to box height, or 200% */

      /* Text_Light */
      color: var(--text-light);
    }

    .quote {
      display: flex;
      align-items: center;
      gap: func.rem-calc(22);
      padding-bottom: func.rem-calc(56);

      img {
        height: func.rem-calc(48);
        width: func.rem-calc(48);
        background: #B550F6;
        border-radius: 50%;
      }      
    }
  }

  .right-column {

    width: 49%;
    background-image: url(./../../assets/images/hero-bg-pic.png);
    background-size: contain;
    background-position: func.rem-calc(0) func.rem-calc(95);
    background-repeat: no-repeat;
    // padding-top: func.rem-calc(810);
  }
}
