@font-face {
  font-family: "Epilogue";
  src: url(./fonts/Epilogue-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  src: url(./fonts/Epilogue-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  src: url(./fonts/Epilogue-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  src: url(./fonts/Epilogue-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}