:root {
  --bg-color-dark: #28293E;
  --bg-color-light: #FDF0E9;
  --text-light: #fff;
  --text-light-grey: rgba(255, 255, 255, 0.64);
  --text-light-accent: #EF6D58;
  --text-dark-accent: #EF6D58;
  --text-dark: #391400;
  --text-dark-grey: #391400a3;
  --border-light: #F3D1BF;
}