@use './../../styles/functions' as func;

#about {
  padding: 0 func.rem-calc(135) func.rem-calc(140);
  color: var(--text-dark);
  background-color: var(--bg-color-light);

  .companies-container {
    height: func.rem-calc(192);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-light);;
    margin-bottom: func.rem-calc(100);
  }

  .about-text-container {
    display: flex;
    margin-bottom: func.rem-calc(161);

    .left-column {
      width: 49%;
      background-image: url(./../../assets/images/about-pic.png);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  
    .right-column {
      width: 51%;
      padding: func.rem-calc(75) 0 0 func.rem-calc(125);

      .h5 {
        margin-bottom: func.rem-calc(20);
      }

      .h2 {
        margin-bottom: func.rem-calc(26);
      }

      .p-text-big {
        margin-bottom: func.rem-calc(18);
      }
  
      .p {
        color: var(--text-dark-grey);
        margin-bottom: func.rem-calc(34);
      }

      .button {
        width: func.rem-calc(138);
        line-height: func.rem-calc(48);
        color: var(--text-dark);
        background: #fff;
        box-shadow: func.rem-calc(0) func.rem-calc(3) func.rem-calc(9) rgba(57, 20, 0, 0.08);
        margin-bottom: func.rem-calc(75);
      }
    }
  }

  .achievement {
    display: flex;
  
    li {
      width: 34%;
      border: 1px solid var(--border-light);
      padding: func.rem-calc(45) func.rem-calc(48) func.rem-calc(38);

      .h3 {
        margin-bottom: 13px;
      }
    }
  }
}
